<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %highlight(%-5level) [%yellow(%t)] %green(%C{1.}): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>